*.nc
*.mp4
*.png
*.slurm
*.out
*.err
*core
*.err
*__pycache__
*myout.txt
src/Plot/weekly_test.txt
src/Process/Machinary/out_prof.txt
src/Process/Scratch/
src/Plot/myout_08.txt
src/Process/Machinary/myout_combine.txt
src/Movie/myout_08.txt
*.swp
*dask-worker-space
