*.nc
*.gif
*.pdf
*.mp4
*.png
*.slurm
*.out
*.err
*core
*.err
*__pycache__
*myout.txt
Plot/weekly_test.txt
Process/Machinary/out_prof.txt
Process/Scratch/
Plot/myout_08.txt
Process/Machinary/myout_combine.txt
Movie/myout_08.txt
*.swp
*dask-worker-space
